body {
    font-family: 'Yeon Sung', serif;
}

/* Containers */


.callout-container {
    height: 100vh;
    background: url('../images/zen.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}


/* Navbar */

.navbar {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(203, 202, 204, 0.3);
}


.navbar .navbar-brand {

    color: #85131C;
}

.navbar .navbar-brand:hover {

    color: #4B0082;
}

.navbar .navbar-toggler {
    border: 0;
}


#navbarDropdownMenuLink,
#about,
#contacts {

    color: #4B0082;
    font-weight: lighter;
    font-size: 14px;
}

.navbar .navbar-nav a {
    font-weight: lighter;
    color: #4B0082;

}

.dropdown-menu {

    margin: 2px;
}

#inline {

    color: #85131C;
    font-weight: lighter;
    font-size: 14px;
}

#booking {
    color: #4B0082;
    font-size: larger;
    font-weight: lighter;
}

.wevolve {
    color: white;
    font-size: 50px;
    text-shadow: 6px 6px 8px #bbfafc;
    margin-right: 500px;
    padding-top: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.wevolve span {
    display: inline-block;
    -webkit-animation: wave-text 4s ease-in-out infinite;
    animation: wave-text 4s ease-in-out infinite;
}

.wevolve span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.wevolve span:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.wevolve span:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.wevolve span:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.wevolve span:nth-of-type(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.wevolve span:nth-of-type(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.wevolve span:nth-of-type(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@-webkit-keyframes wave-text {
    00% {
        transform: translateY(0.2em);
    }

    60% {
        transform: translateY(-0.3em);
    }

    100% {
        transform: translateY(0.2em);
    }
}

@keyframes wave-text {
    00% {
        transform: translateY(0.2em);
    }

    60% {
        transform: translateY(-0.3em);
    }

    100% {
        transform: translateY(0.2em);
    }
}


#icon {
    animation: rotation 4s infinite linear;
    text-shadow: 6px 6px 8px #bbfafc;
    color: white;
    font-size: 50px;
    margin-right: 500px;
    padding-bottom: 20px;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* description */



.jumbotron {
    background-color: transparent;
}

.jumbotron .lead {

    padding-right: 500px;
    text-align: justify;
    color: #400832;
}


/* media queries */
/* for sreens size from 1200px and down */
@media screen and (max-width: 1200px) {

    .jumbotron .lead {

        padding-right: 340px;

    }

    #icon {
        margin-right: 400px;
    }
}

/* media queries */
/* for sreens size from 950px and down */
@media screen and (max-width: 950px) {

    .jumbotron .lead {

        padding-right: 300px;

    }

    #icon {
        margin-right: 300px;
    }
}



/* media queries */
/* for sreens size from 780px and down */
@media screen and (max-width: 730px) {

    .jumbotron .lead {

        padding-right: 100px;

    }

    #icon {
        margin-right: 50px;
    }



    .callout-container {
        height: 100%;
        background: url('../images/zen.jpg') no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        position:
            relative;
    }


    /* media queries */
    /* for sreens size from 450px and down */
    @media screen and (max-width: 450px) {

        .callout-container {
            height: 100%;
            background: url('../images/zen.jpg') no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            display: flex;
            position: relative;
        }

        .jumbotron .lead {

            text-align: justify;
            margin: 0;
            padding: 10px;

        }


        #icon {
            justify-content: center;
        }

    }
}