body {

    font-family: 'Yeon Sung', serif;

}

/* main header */
.callout-container {

    height: 100%;
    background: url('../images/costs.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    position: relative;

}

/* Navbar */
.navbar {

    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #443c40;

}

.navbar .navbar-brand {

    color: white;

}

.navbar .navbar-brand:hover {

    color: white;
}

.navbar .navbar-toggler {

    border: 0;

}

#navbarDropdownMenuLink,
#about,
#contacts {

    color: white;
    font-weight: lighter;
    font-size: 14px;

}

.navbar .navbar-nav a {

    font-weight: lighter;
    color: rgb(94, 155, 58);

}

.dropdown-menu {

    margin: 2px;
}

#inline {

    color: rgb(94, 155, 58);
    font-weight: lighter;
    font-size: 16px;
    text-shadow: 1px 1px 1px white;

}

#booking {

    color: white;
    font-size: larger;
    font-weight: lighter;

}

.wevolve {

    color: rgb(62, 103, 38);
    font-size: 40px;
    text-shadow: 1px 1px 1px white;
    padding: 30px;
    text-align: center;

}

/*floating quote*/
.wevolve span {

    display: inline-block;
    -webkit-animation: wave-text 4s ease-in-out infinite;
    animation: wave-text 4s ease-in-out infinite;

}

.wevolve span:nth-of-type(1) {

    -webkit-animation-delay: 0s;
    animation-delay: 0s;

}

.wevolve span:nth-of-type(2) {

    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;

}

.wevolve span:nth-of-type(3) {

    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;

}

.wevolve span:nth-of-type(4) {

    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;

}

.wevolve span:nth-of-type(5) {

    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;

}

.wevolve span:nth-of-type(6) {

    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;

}

.wevolve span:nth-of-type(7) {

    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;

}

@-webkit-keyframes wave-text {

    00% {

        transform: translateY(-0.2em);

    }

    60% {

        transform: translateY(0.1em);

    }

    100% {

        transform: translateY(-0.2em);

    }

}

@keyframes wave-text {

    00% {

        transform: translateY(-0.2em);

    }

    60% {

        transform: translateY(0.3em);

    }

    100% {

        transform: translateY(-0.2em);

    }

}

#pagoda {

    font-size: 30px;
    color: rgb(0, 65, 0);
    text-shadow: 2px 2px 2px white;
    padding-left: 50%;

}

/* description */

.jumbotron {

    background-color: transparent;

}

.lead {

font-size: 25px;
color:rgb(3, 73, 3);
text-shadow: 1px 1px 1px white;
padding-left: 30px;
padding-right: 30px;

}

/*prices*/
.p-2 {

    color:white;
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(1, 41, 1);
    padding-left: 30px;
padding-right: 30px;
text-align: center;

}

.block-divider {

    width: 250px;
    height: 1px;
    background-color: white;

}

.residence {

    font-size: 25px;
    color:rgb(1, 67, 1);
    text-shadow: 1px 1px 1px white;
    padding: 30px;

}


/*link to the start of the page*/
#home {

    color:rgb(3, 73, 3);
    padding-top: 50px;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
    padding-left: 50%;
    padding-bottom: 30px;

}

/* media queries */
/* for sreens size from 730px and down */
@media screen and (max-width: 730px) {

    .p-2 {

        padding: 25px;
        font-size: 20px;
        text-align: center;

    }

    .lead {

        font-size: 25px;
        text-align: center;
    }

    .block-divider {

        width: 50px;
        height: 1px;

    }

    .residence {

        text-align: center;

    }

}

/* media queries */
/* for sreens size from 450px and down */
@media screen and (max-width: 450px) {

    .wevolve {

        font-size: 25px;

    }

    .block-divider {

        width: 50px;
        height: 1px;

    }

    .lead {

        font-size: 20px;
        text-align: center;
        color:rgb(1, 29, 1)

    }

    .residence {

        font-size: 20px;
    }



}