body {
    font-family: 'Yeon Sung', serif;
}

/* Containers */


.callout-container {
    height: 100vh;
    background: url('../images/landingpage.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);

}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.navbar {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(170, 240, 209, 0.3);
}


.navbar .navbar-brand {

    color: #85131C;
}

.navbar .navbar-brand:hover {

    color: #4B0082;
}

.navbar .navbar-toggler {
    border: 0;
}


#navbarDropdownMenuLink,
#contacts,
#about {

    color: #4B0082;
    font-weight: lighter;
    font-size: 14px;
}

.navbar .navbar-nav a {
    font-weight: bold;
    color: #ffc8dd;
}

#inline {

    color: #85131C;
    font-weight: lighter;
    font-size: 14px;
}

#booking {
    color: #4B0082;
    font-size: larger;
    font-weight: lighter;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #aa7fc2;
    padding-left: 750px;
    font-weight: lighter;
    padding-top: 370px;

}

/* media queries */
/* for sreens size from 1200px and down */
@media screen and (max-width: 1200px) {
    .jumbotron h1 {

        padding-left: 500px;
        padding-bottom: 200px;

    }
}

/* media queries */
/* for sreens size from 950px and down */
@media screen and (max-width: 950px) {
    .jumbotron h1 {
        padding-bottom: 300px;
        padding-left: 500px;

    }

}

/* media queries */
/* for sreens size from 650px and down */
@media screen and (max-width: 650px) {
    .jumbotron h1 {
        color: white;
        margin: 0;
        padding: 0;
        justify-content: center;

    }

}

/* media queries */
/* for sreens size from 450px and down */
@media screen and (max-width: 450px) {
    .jumbotron h1 {
        font-size: 30px;
        justify-content: center;
        color: white;
        margin: 0;
        padding: 0;
        margin-top: 50px;

    }

}