body {
    font-family: 'Yeon Sung', serif;
}

/* Containers */


.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}


.callout-container {
    height: 100vh;
    background: url('../images/landingpage.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navbar .navbar-brand {

    color: #ffafcc;
}

.navbar .navbar-brand:hover {

    color: #bde0fe;
}

#navbarDropdownMenuLink,
#home,
#about {

    color: #a2d2ff;
    font-weight: lighter;
    font-size: larger;
}

.navbar .navbar-nav a {
    font-weight: bold;
    color: #ffc8dd;
}

#inline {

    color: #bde0fe;
    font-weight: lighter;
    font-size: larger;
}

#booking {
    color: #cdb4db;
    font-size: larger;
    font-weight: lighter;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #cdb4db;
    font-weight: bold;
    padding-left: 450px;
    margin-bottom: 15px;
}

/* Sign up button */

.btn {
    font-weight: bold;
    color: white;
    border-radius: 23px;
    width: 160px;
    margin-left: 530px;
    background-color: #cdb4db
}

.btn:hover {
    background-color: #a2d2ff;
}

/* media queries */
/* for sreens size from 1200px and down */
@media screen and (max-width: 1200px) {

    jumbotron h1 {
        padding-left: 280px;
        margin-bottom: 80px;
        margin-top: 5px;
    }

    .btn {

        margin-left: 450px;

    }
}

/* for sreens size from 950px and down */
@media screen and (max-width: 950px) {

    jumbotron h1 {
        font-size: 35px;
        margin-left: 30px;
        padding-left: 15px;

    }

    .btn {

        margin: 0;

    }
}

/* for sreens size from 750px and down */
@media screen and (max-width: 750px) {
    
    jumbotron h1 {
        font-size: 35px;
        margin-left: 30px;
        padding-left: 15px;

    }

    .btn {

        margin: 0;

    }