body {
    font-family: 'Yeon Sung', serif;
}

/* Containers */


.callout-container {
    height: 100vh;
    background: url('../images/landingpage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    position: relative;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navbar {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(170, 240, 209, 0.3);
}


.navbar .navbar-brand {

    color: #85131C;
}

.navbar .navbar-brand:hover {

    color: #4B0082;
}

.navbar .navbar-toggler {
    border: 0;
}


#navbarDropdownMenuLink,
#about,
#contacts {

    color: #4B0082;
    font-weight: lighter;
    font-size: 14px;
}

.navbar .navbar-nav a {
    font-weight: lighter;
    color: #4B0082;

}

.dropdown-menu {

    margin: 2px;
}

#inline {

    color: #85131C;
    font-weight: lighter;
    font-size: 14px;
}

#booking {
    color: #4B0082;
    font-size: larger;
    font-weight: lighter;
}

/* Motto */

.motto {
    background-color: transparent;
}

.motto-header {
    color: #aa7fc2;
    padding-left: 750px;
    font-weight: lighter;
    padding-top: 350px;
    font-size: 35px;
}

.motto-header span {
    display: inline-block;
    -webkit-animation: wave-text 4s ease-in-out infinite;
    animation: wave-text 4s ease-in-out infinite;
}

.motto-header span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.motto-header span:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.motto-header span:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.motto-header span:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.motto-header span:nth-of-type(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.motto-header span:nth-of-type(6) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.motto-header span:nth-of-type(7) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.motto-header span:nth-of-type(8) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.motto-header span:nth-of-type(9) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.motto-header span:nth-of-type(10) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes wave-text {
    00% {
        transform: translateY(0.2em);
    }

    60% {
        transform: translateY(-0.8em);
    }

    100% {
        transform: translateY(0.2em);
    }
}

@keyframes wave-text {
    00% {
        transform: translateY(0.2em);
    }

    60% {
        transform: translateY(-0.8em);
    }

    100% {
        transform: translateY(0.2em);
    }
}

/* media queries */
/* for sreens size from 1200px and down */
@media screen and (max-width: 1200px) {
    .motto-header {

        padding-left: 510px;
        padding-top: 300px;

    }
}

/* media queries */
/* for sreens size from 950px and down */
@media screen and (max-width: 950px) {
    .motto-header {
        padding-top: 300px;
        padding-left: 450px;

    }

}

/* media queries */
/* for sreens size from 700px and down */
@media screen and (max-width: 700px) {
    .motto-header {
        color: white;
        margin: 0;
        padding: 0;
        padding-top: 50px;
        justify-content: center;

    }

}

/* media queries */
/* for sreens size from 450px and down */
@media screen and (max-width: 450px) {
    .motto-header {
        font-size: 30px;
        justify-content: center;
        color: white;
        margin: 0;
        padding: 0;
        margin-top: 50px;

    }

}