<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5d093ab506.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>

    <!--Nav-->
    <nav class="navbar navbar-light navbar-expand-sm ">
        <a href="/template/index.html" class="navbar-brand">
            WEvolve <i class="fa-solid fa-yin-yang"></i></a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="contacts" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Contacts </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"><i class="fa-solid fa-phone"></i> 555-357-68-25</a>
                        <a class="dropdown-item"><i class="fa-solid fa-envelope"></i> WEvolve@gmail.com</a>
                        <a class="dropdown-item" href="https://www.instagram.com"
                            aria-label="Visit our Instagram (opens in a new tab)" target="_blank" rel="noopener"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a class="dropdown-item" href="https://www.facebook.com"
                            aria-label="Visit our Facebook (opens in a new tab)" target="_blank" rel="noopener"><i
                                class="fa-brands fa-facebook"></i></a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Mental health issues
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/template/mental-health.html">Mental health</a>
                        <a class="dropdown-item" href="/template/addiction.html">Addiction</a>
                        <a class="dropdown-item" href="/template/holistic-health.html">Holistic health</a>
                    </div>
                </li>
                <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="/login">Book an appointment</a>
                </li>
                <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="">Sign In / Sign Up</a></li>
            </ul>
        </div>
        <div class="d-none d-md-block">
            <p class="navbar-text my-auto mr-2" id="inline">It's a safe space <i class="fa-solid fa-hand-sparkles"></i>
            </p>
            <a href="/login" id="booking">Book an appointment</a>
        </div>

    </nav>
    <!--main header-->

    <div class="container-fluid callout-container">

        <div class="row">

            <div class="col-12">
                <section class="callout motto text-center">
                    <div class="wevolve">
                        <span>W</span>
                        <span>E</span>
                        <span>v</span>
                        <span>o</span>
                        <span>l</span>
                        <span>v</span>
                        <span>e</span>
                    </div>
                    <div class="callout jumbotron text-center">
                        <p class="lead" id="question">
                            Are you at the point where you know your life has to change? Are you
                            searching for more peace, fulfillment, and a sense of purpose? <br>At the
                            WEvolve we understand the intricacy of the human mind.
                        </p>
                        <hr class="block-divider">
                        <p class="lead">WEvolve is a modern treatment centre and a mental health clinic,
                            unlike traditional rehab
                            centres. It was created (in 2007) to be a safe heaven where you can find recovery,
                            peace, rest
                            and
                            happiness. Our qualified team of physicians and psychiatrists as well as our treatment
                            facilities are
                            here to provide you with an exceptional experience. Our centre offers you
                            more than just treatment, we offer the guidance to rediscover your soul and achieve
                            your best
                            self.</p>
                        <span> <i class="fa-solid fa-yin-yang" id="icon"></i></span>
                        <p class="lead">Our specialty is a wide range of emotional, physical, and
                            psychological issues covering all
                            kinds
                            of mental health issues. We specialize in treating Mental health disorders, such as:
                            Bipolar
                            disorder, Dysthymia, Trauma, Anxiety, Panic attacks, Chronic pain syndrome,
                            Emotional
                            crisis, Mood disorders & depression, Sleeping disorders, Isolation & emptiness,
                            Selfharm,
                            Suicidal thoughts, Relation & communication, Chronic fatique, Severe anxiety; Eating
                            disorders;
                            Burnout; Stress disorders, Personality disorder and other.
                        </p>
                        <hr class="block-divider">
                        <p class="lead" id="quote">
                            Evolve or dissolve...It's your decision.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>