<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEvolve</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5d093ab506.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>

    <!--Nav-->
    <nav class="navbar navbar-light navbar-expand-sm bg-light">
        <a href="/" class="navbar-brand">
            WEvolve <i class="fa-solid fa-dharmachakra"></i></a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item mr-2"><a class="nav-link" href="/" id="home">Home</a></li>
                <li class="nav-item mr-2"><a class="nav-link" href="" id="about">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mental health issues
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Mental health</a>
                        <a class="dropdown-item" href="#">Addiction</a>
                        <a class="dropdown-item" href="#">Holistic health</a>
                    </div>
                </li>

                <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="">Sign In / Sign Up</a></li>
            </ul>
        </div>
        <div class="d-none d-md-block">
            <p class="navbar-text my-auto mr-2" id="inline">It's a safe space <i class="fa-solid fa-vihara"></i></p>
            <a href="/login" id="booking">Book an appointment</a>
        </div>

    </nav>
    <!--main header-->
    <div class="container-fluid callout-container">

        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <section class="callout jumbotron text-center">
                    <h1 class="jumbotron-header">Leave that dark place...happiness is here!</h1>
                    <hr class="block-divider block-divider--white">
                    <p><button class="btn btn-lg" data-toggle="modal" data-target="#signUpModal">Sign
                            Up!</button></p>

                </section>
            </div>
        </div>
    </div>
</body>

</html>