@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

body {

    font-family: 'Yeon Sung', serif;

}


/* Navbar menu */
.navbar {

    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(132, 247, 195, 0.3);

}

.navbar .navbar-brand {

    color: #524849;
}

.navbar .navbar-brand:hover {

    color: #4B0082;

}

.navbar .navbar-toggler {

    border: 0;

}

#navbarDropdownMenuLink,
#about,
#contacts {

    color: #4B0082;
    font-weight: lighter;
    font-size: 14px;

}

.navbar .navbar-nav a {

    font-weight: lighter;
    color: #4B0082;

}

.dropdown-menu {

    margin: 2px;

}

#inline {

    color: #4a4041;
    font-weight: lighter;
    font-size: 14px;

}

#booking {

    color: #051a00;
    font-size: larger;
    font-weight: lighter;

}

#emblem {

    color:#051a00;;
    text-shadow: 2px 2px 2px white;
    font-size: 35px;
    padding: 0;
   
}


.row {

    background-color: rgb(190, 255, 190);
    margin: 0;
    padding-top: 50px;
    text-align: center;
    background-position: cover;
}

.info {

    text-shadow: 1px 1px 1px white;
    font-size: 25px;
}
/*rotating icon*/
#icon {

    animation: rotation 4s infinite linear;
    text-shadow: 2px 2px 4px white;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.footer {

    background-color: rgba(170, 240, 209, 0.3);
    color: #4B0082;
    margin: 0;
    padding: 0;
    
}

/* media queries */
/* for sreens size from 450px and down */
@media screen and (max-width: 450px) {

.info {

    font-size: 20px;
} 

#emblem, #icon {

    font-size: 25px;
}
}