{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

</head>
<div class="container-fluid callout-container">
    <div class="row">
        <!--the name-->
        <div class="col-12">
            <section class="callout motto text-center">
                <div class="wevolve">
                    <span>W</span>
                    <span>E</span>
                    <span>v</span>
                    <span>o</span>
                    <span>l</span>
                    <span>v</span>
                    <span>e</span>
                </div>
                <!--description text-->
                <div class="callout jumbotron text-center">
                    <p class="lead" id="question">
                        Are you at the point where you know your life has to change? Are you
                        searching for more peace, fulfillment, and a sense of purpose? <br>At the
                        WEvolve we understand the intricacy of the human mind.
                    </p>
                    <hr class="block-divider">
                    <p class="lead">WEvolve is a modern treatment centre and a mental health clinic,
                        unlike traditional rehab
                        centres. It was created (in 2007) to be a safe heaven where you can find recovery,
                        peace, rest
                        and
                        happiness. Our qualified team of physicians and psychiatrists as well as our treatment
                        facilities are
                        here to provide you with an exceptional experience. Our centre offers you
                        more than just treatment, we offer the guidance to rediscover your soul and achieve
                        your best
                        self.</p>
                    <!--rotating icon-->
                    <span> <i class="fa-solid fa-yin-yang"></i></span>
                    <p class="lead">Our specialty is a wide range of emotional, physical, and
                        psychological issues covering all
                        kinds
                        of mental health issues. We specialize in treating Mental health disorders, such as:
                        Bipolar
                        disorder, Dysthymia, Trauma, Anxiety, Panic attacks, Chronic pain syndrome,
                        Emotional
                        crisis, Mood disorders & depression, Sleeping disorders, Isolation & emptiness,
                        Selfharm,
                        Suicidal thoughts, Relation & communication, Chronic fatique, Severe anxiety; Eating
                        disorders;
                        Burnout; Stress disorders, Personality disorder and other.
                    </p>
                    <hr class="block-divider">
                    <p class="lead">
                        Our calm and peaceful residences, situated in the wild nature, will serve as a private, tranquil
                        and
                        safe environment where you can let go of your past and future concerns,
                        and start working on yourself now.</p>
                    <p class="lead" id="quote">
                        Evolve or dissolve...It's your decision.
                    </p>
                    <!--link to the start of the page-->
                    <a href="{% url 'about' %}"><i class="fa-solid fa-yin-yang" id="home"></i></a>
                </div>
            </section>
        </div>
    </div>
</div>
{%endblock%}
