{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/addiction.css' %}">
</head>
<!--main header-->
<div class="container-fluid callout-container">
    <!--floating quote-->
    <div class="row">
        <div class="callout jumbotron text-center">
            <div class="buddha">
                <span>"No</span>
                <span>matter</span>
                <span>how</span>
                <span>hard</span>
                <span>the</span>
                <span>past</span>
                <span>is,</span>
                <span>you</span>
                <span>can</span>
                <span>always</span>
                <span>begin</span>
                <span>again.."</span>
                <span>(Buddha)</span>
            </div>
            <hr class="block-divider">
            <!--main description-->
            <p class="lead" id="cntr">
                ADDICTION
            </p>
            <p class="lead">
                is a compulsive, chronic, physiological or psychological need for a habit-forming
                substance, behavior, or activity having harmful physical, psychological, or social effects and
                typically causing well-defined symptoms (such as anxiety, irritability, tremors, or nausea) upon
                withdrawal or abstinence.
                Typically there are different types of addictions:
                alcohol addiction, an addiction to prescription painkillers, drug addictions, gambling addiction.
            </p>
            <p class="affirm">
                YOU DON'T HAVE TO STRUGGLE IN SILENCE!
            </p>
            <hr class="block-divider">
            <p class="lead">
                There are several methods of treatment we use at WEvolve such as evidence-based
                treatments: detoxification, cognitive behavioral therapy (which helps you recognize your
                unhealthy behavioral patterns and can also help you learn to identify triggers and develop
                coping skills), Rational Emotive Behavior Therapy (that helps you realize that the power of
                rational thinking lies within yourself and is not related to external situations or stressors),
                treatment with medications.
            </p>
            <p class="lead">
                Here at WEvolve we practice holistic treatment in complex with evidence-based
                classical treatment, which helps curb withdrawal symptoms, serves as coping tools to
                prevent relapse, helps with mental health and emotional issues, and enhance mental,
                physical and spiritual wellbeing as well as overall quality of life.
            </p>
            <hr class="block-divider">
            <p class="affirm">
                THE STRONGEST PEOPLE ARE THOSE WHO FIGHT THE BATTLES WE KNOW NOTHING ABOUT
            </p>
            <!--link to the start of the page-->
            <a href="{% url 'addiction' %}"><i class="fa-solid fa-yin-yang" id="home"></i></a>
        </div>
    </div>
</div>
{%endblock%}