{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<html class="h-100">


<head>
    <title>WEvolve</title>
    <link rel="icon" type="image/x-icon" href="{% static '/media/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Mental health clinic">
    <meta name="keywords" content="Mental Health, Mental isuues, Mental Treatment, Mental Clinic, Mental Help">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5d093ab506.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<!--Nav-->
<nav class="navbar navbar-light navbar-expand-sm ">
    <!--brand and logo link to the landing page-->
    <a href="{% url 'home' %}" class="navbar-brand">
        WEvolve <i class="fa-solid fa-yin-yang"></i></a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <!--contacts menu-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" id="contacts"> Contacts </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item"><i class="fa-solid fa-phone"></i> 555-357-68-25</a>
                    <a class="dropdown-item"><i class="fa-solid fa-envelope"></i> WEvolve@gmail.com</a>
                    <a class="dropdown-item" href="https://www.instagram.com"
                        aria-label="Visit our Instagram (opens in a new tab)" target="_blank" rel="noopener">Evolve
                        with us on <i class="fa-brands fa-instagram"></i></a>
                    <a class="dropdown-item" href="https://www.facebook.com"
                        aria-label="Visit our Facebook (opens in a new tab)" target="_blank" rel="noopener">Evolve
                        with us on <i class="fa-brands fa-facebook"></i></a>
                    <a class="dropdown-item" href="{% url 'contact' %}">You can find us here</a>

                </div>
            </li>
            <!--link to the about page-->
            <li class="nav-item mr-2"><a class="nav-link" id="about" href="{% url 'about' %}">About</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Our speciality
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'mental' %}">Mental health</a>
                    <a class="dropdown-item" href="{% url 'addiction' %}">Addiction</a>
                    <a class="dropdown-item" href="{% url 'holistic' %}">Holistic health</a>
                    <a class="dropdown-item" href="{% url 'costs' %}">Menu</a>
                </div>
            </li>
            <!--book button-->
            {% if user.is_authenticated %}
            <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="{% url 'booking' %}">Book an
                    appointment</a>
            </li>
            <li class="nav-item mr-2"><a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li class="nav-item mr-2"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
            <li class="nav-item mr-2"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
            {% endif %}

        </ul>
    </div>
       <div class="d-none d-md-block">
        {% if user.is_authenticated %}
        <p class="navbar-text my-auto mr-2" id="inline">It's a safe space <i class="fa-solid fa-hand-sparkles"></i>
            <a href="{% url 'booking' %}" id="booking">Book an appointment</a></p>
        {% else %}
        <p class="navbar-text my-auto mr-2" id="inline1">It's a safe space <i class="fa-solid fa-hand-sparkles"></i>
            <a href="{% url 'account_login' %}" id="booking1">Sign In to book an appointment</a></p>
        {% endif %}
    </div>


</nav>

{% block content %}
<!-- Content Goes here -->

{% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</script>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>