{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/costs.css' %}">
</head>
<!--main header-->
<div class="container-fluid callout-container">
    <div class="row">
        <!--the name-->
        <div class="col-12">
            <section class="callout motto">
                <div class="wevolve">
                    <span>Don't</span>
                    <span>let</span>
                    <span>yourself</span>
                    <span>be controlled</span>
                    <span>by people,</span>
                    <span>money and</span>
                    <span>past experiences</span>
                </div>
                <span> <i class="fa-solid fa-vihara" id="pagoda"></i></span>
                <!--description text-->
                <h1 class="residence">Our calm and peaceful residences, situated in the middle of the wild nature,
                    will serve as a private, tranquil and
                    safe environment where you can let go of your past and future concerns,
                    and start working on yourself now.</h1>
                <hr class="block-divider">
                <p class="lead">For all treatments, we recommend at least 3 weeks of an intensive residential program:
                    to
                    do all medical and psychological testing and implement effective treatment. <br>Week one focuses on
                    tests and detox; weeks 2-4 are where the intensive treatment happens and the program is adjusted
                    as we go. The aftercare program would be further weekly online support for some another time when
                    you are back
                    home.</p>
                <div class="d-flex flex-column">
                    <div class="p-2">One week treatment - from 1000$</div>
                    <div class="p-2">Two weeks treatment - from 2000$</div>
                    <div class="p-2">Month treatment - from 3500$</div>
                    <div class="p-2">Online treatment - from 500$</div>
                </div>
                <!--link to the start of the page-->
                <a href="{% url 'costs' %}"><i class="fa-solid fa-yin-yang" id="home"></i></a>
        </div>
        </section>
    </div>
</div>
</div>
{%endblock%}