{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/holistic-health.css' %}">
</head>
<!--main header-->
<div class="container-fluid callout-container">
    <div class="row">
        <!--floating quote-->
        <div class="callout jumbotron">
            <div class="buddha">
                <span>Your</span>
                <span>mind</span>
                <span>is</span>
                <span>your</span>
                <span>servant.</span>
                <span>Your</span>
                <span>body</span>
                <span>is a </span>
                <span>vehicle.</span>
                <span>Your</span>
                <span>soul is</span>
                <span>your</span>
                <span>residence..</span>
            </div>
            <span><i class="fa-solid fa-om" id="om"></i></span>
            <!--main description-->
            <p class="lead">
                So, what is holistic healthcare at the WEvolve
                centre? <br> It's about honoring the mind-body-soul
                connection and treating the whole person, using a
                variety of clinically proven therapies.
            </p>

            <p class="lead">
                Holistic health is about providing for your physical,
                mental, spiritual, and social needs. It&#39;s rooted in the
                understanding that all these aspects affect your
                overall health, and being unwell in one aspect affects
                you in others.
            </p>
            <p class="lead">
                We use a wide variety of clinically
                proven therapies – from medications to dietary
                changes and exercise plans, to psychological and
                spiritual counseling, including holistic practices, such as:<br>Massage, Osteopathy, Acupuncture,
                Acupressure,
                Breath Therapy, Meditation, Hypnosis, Aromatherapy, Herbal Therapy, Nutrition Plans,
                Exercise Routines, Yoga & Tai Chi, Art & Music Therapy and others.
            </p>
            <!--link to the start of the page-->
            <a href="{% url 'holistic' %}"><i class="fa-solid fa-yin-yang" id="home"></i></a>
        </div>
    </div>
</div>

{%endblock%}