{% extends "base.html" %}

{% block content %}

<div class="container-fluid callout-container">

    <div class="row">

        <div class="col-12">
            <!--name and rotating icon-->
            <div class="callout motto text-center">
                <div>
                    <span id="emblem"> WEvolve <i class="fa-solid fa-yin-yang" id="icon"></i></span><br>
                    <span id="description">MENTAL HEALTH TREATMENT CENTRE</span>
                </div>
                <!--floating motto-->
                <div class="motto-header">
                    <span>Leave</span>
                    <span>that</span>
                    <span>dark</span>
                    <span>place</span>
                    <span>...</span><br>
                    <span>happiness</span>
                    <span> is </span>
                    <span> here!</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <p class="text-center">Info you might fight helpful <i class="fa-solid fa-hand-point-right">:</i>
        <a href="https://www.who.int/publications/i/item/9789240003927?gclid=Cj0KCQiAz9ieBhCIARIsACB0oGK0OEkSFO7A5Zga7dT5ogEqTz1Tq6TA3NoCyp-JxpAjApqqj2MyRc8aAq_iEALw_wcB"
            aria-label="Visit WHO (opens in a new tab)" target="_blank" rel="noopener" class="px-3"> World Health
            Organisation</a>
        <a href="https://www.healthline.com/health/mental-health/mental-health-books#how-we-chose"
            aria-label="Visit best books for mental health (opens in a new tab)" target="_blank" rel="noopener"
            class="px-3">Best
            books for mental health</a>
        <a href="https://hivelife.com/holistic-wellbeing-guide/" aria-label="Holistic health guide" target="_blank"
            rel="noopener" class="px-3">Holistic wellbeing</a>
        <a href="https://www.goodhousekeeping.com/life/a39739060/mental-health-quotes/" aria-label="Motivational quotes"
            target="_blank" rel="noopener" class="px-3">Quotes</a>
    </p>
    <p class="m-0 text-center">Hanna Tolchynska &#169; 2023</p>
</footer>
{%endblock%}