{% extends "base.html" %}

{% block content %}

    <div class="container-fluid callout-container">
        
        <div class="row">

            <div class="col-12">
                <!--name and rotating icon-->
                <div class="callout motto text-center">
                    <div>
                        <span id="emblem"> WEvolve <i class="fa-solid fa-yin-yang" id="icon"></i></span><br>
                        <span id="description">MENTAL HEALTH TREATMENT CENTRE</span>
                    </div>
                    <!--floating motto-->
                    <div class="motto-header">
                        <span>Leave</span>
                        <span>that</span>
                        <span>dark</span>
                        <span>place</span>
                        <span>...</span><br>
                        <span>happiness</span>
                        <span> is </span>
                        <span> here!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center">Hanna Tolchynska &#169; 2023</p>
    </footer>   
    {%endblock%} 